@{
    ViewBag.Title = "LGUAtGlance";
}
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">About</h1>
        <!--breadcrumbs-->
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">You are here:</li>
                <li><a href="index-2.html">Home</a><i class="fa fa-angle-right"></i></li>
                <li class="current">About</li>
            </ul>
        </div>
        <!--//breadcrumbs-->
    </header>
    <div class="page-content">
        <div class="row page-row">
            <article class="welcome col-md-8 col-sm-7">
                <h3 class="title">Welcome to Lahore Garrison University</h3>
                <p>
                    <img class="img-responsive" src="~/Content/images/750x300-about.jpg" alt="" /></p>
                <p>
Establishment of Lahore Garrison University in The Punjab metropolis city of Lahore is an important milestone in the history of higher education in Pakistan. In order to meet the global challenges it is necessary to touch the highest literacy rates while producing skillful and productive graduates in all fields of knowledge. Lahore Garrison University has been established to achieve the goal of excellence and quality education in minimum possible time. At present, LGU is running Undergraduate, Graduate, Masters, M. Phil and PhD programs in various disciplines. Main campus of LGU is located at the most developed area of Lahore, i.e Defense Phase-VI, Sector C, Avenue III which is easily approachable through Ring Road. The campus, spreads on 65 kanals, comprises of multi-story academic blocks with spacious class rooms, well equipped labs, auditorium, library and cafeteria. Highly qualified and experienced faculty has been hired to educate the students with latest developments in each discipline and enhance their creative abilities. LGU is not only determined to produce the best professionals of international standards in social and physical sciences but also focus to contribute in national development through research and development. At LGU students shall enjoy academic freedom in a peaceful and conducive atmosphere. To ensure the necessary exposure and explore the possibility of appropriate jobs for outgoing graduates, collaboration with national and international Universities and R&D organizations is one of the major priorities of LGU. At LGU, we understand the importance of co-curricular activities as they are crucial for the physical fitness and mental grooming of the students. We envisage producing talented, confident, competent and tolerant students capable of delivering positively in society. INSHALLAH in the very near future LGU will be an international seat of high quality teaching, innovative learning and valuable research.
Jinnah Campus of LGU, which houses the intermediate. Boys & Girls Sections of  the University, is situated at 52-Tufail Road, near Flag Staff House crossing of Aziz Bhatti Road in the heart of Lahore Cantonment. Its central position makes it easy to access from all parts of the City.                </p>
                <ul class="custom-list-style">
                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit ame</li>
                    <li><i class="fa fa-check"></i>Curabitur elit elit</li>
                    <li><i class="fa fa-check"></i>Nunc tincidunt ipsum a risus</li>
                    <li><i class="fa fa-check"></i>Integer vitae nisi a odio</li>
                    <li><i class="fa fa-check"></i>Suspendisse bibendum tempor</li>
                </ul>

                <blockquote class="custom-quote">
                    <p><i class="fa fa-quote-left"></i>Viverra magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                    <p class="people"><span class="name">Prof. Dr. Jamil Anwar</span><br>
                        <span class="title">Vice Chanceller, Lahore Garrison University</span></p>
                </blockquote>
                <p>
                    Morbi semper. Hac euismod bibendum odio sed sociosqu primis magna suscipit facilisi litora viverra eget nibh praesent vehicula luctus Integer nostra ac duis metus orci.
    
    Vehicula praesent dolor quam montes fames risus interdum. Tortor lacinia sem aenean sit tellus montes velit ultricies leo eget felis mollis quam. Non odio leo tempus condimentum. Neque. Potenti ornare sapien diam hymenaeos conubia ac. Euismod, venenatis Vulputate sodales morbi aliquet sollicitudin.    
                           
                </p>
            </article>
            <!--//page-content-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Job Vacancies</h3>
                    <ul class="job-list custom-list-style">
                        <li><i class="fa fa-caret-right"></i><a href="#">Learning Support Assistant</a></li>
                        <li><i class="fa fa-caret-right"></i><a href="#">Lecturer - Business Studies</a></li>
                        <li><i class="fa fa-caret-right"></i><a href="#">Lecturer - Computer Science</a></li>
                        <li><i class="fa fa-caret-right"></i><a href="#">Administrative Assistant</a></li>
                    </ul>
                    <a class="btn btn-theme" href="jobs.html">Find out more</a>
                </section>
                <!--//widget-->
                <section class="widget has-divider">
                    <h3 class="title">Video tour</h3>
                    <iframe class="iframe" src="http://www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                </section>
                <!--//widget-->
                <section class="widget">
                    <h3 class="title">Contact</h3>
                    <p>Suspendisse mollis neque augue, vitae malesuada mi dictum quis. Ut mollis purus vel orci aliquam sagittis. Aliquam erat volutpat. </p>
                    <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                    <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                </section>
                <!--//widget-->
            </aside>
        </div>
        <!--//page-row-->
    </div>
    <!--//page-content-->
</div><!--//page--> 


Establishment of Lahore Garrison University in The Punjab metropolis city of Lahore is an important milestone in the history of higher education in Pakistan. In order to meet the global challenges it is necessary to touch the highest literacy rates while producing skillful and productive graduates in all fields of knowledge. Lahore Garrison University has been established to achieve the goal of excellence and quality education in minimum possible time. At present, LGU is running Undergraduate, Graduate, Masters, M. Phil and PhD programs in various disciplines. Main campus of LGU is located at the most developed area of Lahore, i.e Defense Phase-VI, Sector C, Avenue III which is easily approachable through Ring Road. The campus, spreads on 65 kanals, comprises of multi-story academic blocks with spacious class rooms, well equipped labs, auditorium, library and cafeteria. Highly qualified and experienced faculty has been hired to educate the students with latest developments in each discipline and enhance their creative abilities. LGU is not only determined to produce the best professionals of international standards in social and physical sciences but also focus to contribute in national development through research and development. At LGU students shall enjoy academic freedom in a peaceful and conducive atmosphere. To ensure the necessary exposure and explore the possibility of appropriate jobs for outgoing graduates, collaboration with national and international Universities and R&D organizations is one of the major priorities of LGU. At LGU, we understand the importance of co-curricular activities as they are crucial for the physical fitness and mental grooming of the students. We envisage producing talented, confident, competent and tolerant students capable of delivering positively in society. INSHALLAH in the very near future LGU will be an international seat of high quality teaching, innovative learning and valuable research.
Jinnah Campus of LGU, which houses the intermediate. Boys & Girls Sections of  the University, is situated at 52-Tufail Road, near Flag Staff House crossing of Aziz Bhatti Road in the heart of Lahore Cantonment. Its central position makes it easy to access from all parts of the City.