@{
    ViewBag.Title = "Welcome Message";
}

<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Leadership Team</h1>
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">You are here:</li>
                <li><a href="index-2.html">Home</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Leadership Team</li>
            </ul>
        </div>
        <!--//breadcrumbs-->
    </header>
    <div class="page-content">
        <div class="row page-row">
            <div class="team-wrapper col-md-8 col-sm-7">
                <div class="row page-row">
                    <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                        <img class="img-responsive" src="assets/images/team/team-1.jpg" alt="" />
                    </figure>
                    <div class="details col-md-9 col-sm-8 col-xs-6">
                        <h3 class="title">Prof. Dr. Jamil Anwar</h3>
                        <h4>Vice Chancellor</h4>
                        <p>We welcome you at Lahore Garrison University which is an emerging center of academic excellence in the historical city of Lahore. Our mission is to equip the upcoming generation with the valuable knowledge and latest skills in a disciplined and congenial atmosphere.We believe that Education is the only pathway to a civilized and prosperous society, Education brings not only tolerance and harmony in the society but also opens the doors of development and progress for a nation. The Universities have been regarded as key institutions in the process of social change and development in the society. They fulfill this major responsibility through carrying out fresh research in the fields of science, engineering, technology, humanities and arts and by providing value based education to students to make them future leaders. The Lahore Garrison University is determined to fulfill this mission. At the same time we are a part of the global village, passing through an era of hard competition. Hence we must impart such training to our graduates so they become competent to lead the world in science, technology, and trade. That is what the Faculty at Lahore Garrison University aims to do. Join us in leading the nation to a secure and prosperous future. May God bless all of us with knowledge, courage and prosperity, Ameen.
                        </p>
                    </div>
                </div>
                <div class="row page-row">
                    <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                        <img class="img-responsive" src="assets/images/team/team-4.jpg" alt="" />
                    </figure>
                    <div class="details col-md-9 col-sm-8 col-xs-6">
                        <h3 class="title">Dr. Tracey Adams</h3>
                        <h4>Deputy Principle</h4>
                        <p>Pellentesque eu bibendum massa. Morbi et metus adipiscing libero lobortis accumsan ac eget turpis. Duis vehicula, velit sit amet vehicula gravida, nibh dui cursus risus, eget tristique tortor dolor id ligula. Integer id iaculis ante. In massa dolor, consequat quis sodales vel, cursus sed ligula. Sed neque est, pharetra ac enim ut, dignissim molestie tellus. Cras luctus est sit amet dui condimentum, eu varius tellus molestie. Curabitur eleifend faucibus pharetra. Mauris non elit dui.</p>
                    </div>
                </div>
                <div class="row page-row">
                    <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                        <img class="img-responsive" src="assets/images/team/team-3.jpg" alt="" />
                    </figure>
                    <div class="details col-md-9 col-sm-8 col-xs-6">
                        <h3 class="title">Ms. Lisa Richards</h3>
                        <h4>Assistant Principle</h4>
                        <p>Donec justo magna, mattis a ipsum in, pretium aliquet dolor. Vestibulum rhoncus dolor placerat diam laoreet dictum. Integer auctor augue eget nibh ultrices, vitae fermentum est vehicula. Nullam suscipit metus felis. Ut arcu ante, mollis quis urna in, facilisis placerat leo. Duis auctor diam at quam laoreet, vitae blandit mi fermentum. Fusce mollis pellentesque sem, non eleifend nisl. Suspendisse nisi nulla, consectetur sed pellentesque vitae.</p>
                    </div>
                </div>
                <div class="row page-row">
                    <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                        <img class="img-responsive" src="assets/images/team/team-2.jpg" alt="" />
                    </figure>
                    <div class="details col-md-9 col-sm-8 col-xs-6">
                        <h3 class="title">Ms. Debbie Heal</h3>
                        <h4>Assistant Principle</h4>
                        <p>Suspendisse tempus, nibh vel facilisis eleifend, ante lorem ultricies erat, id blandit mauris felis ac elit. Mauris et placerat massa. Duis nec tellus dui. Nullam facilisis lectus a nunc feugiat interdum. Fusce et sem a diam accumsan aliquam. Fusce eu hendrerit massa. Integer eget facilisis metus. Quisque vel lectus sed neque cursus auctor vitae sed nisi. Integer augue mauris, scelerisque sit amet suscipit sit amet, scelerisque in felis. Aenean lacus magna, vestibulum eu pulvinar sed, posuere nec neque.</p>
                    </div>
                </div>
            </div>
            <!--//team-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Download Prospectus</h3>
                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                    <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download now</a>
                </section>
                <!--//widget-->
                <section class="widget row-divider">
                    <h3 class="title">Student Testimonials</h3>
                    <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item">
                                <blockquote class="quote">
                                    <i class="fa fa-quote-left"></i>
                                    I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.
                                           
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-md-push-1">
                                        <span class="name">Marissa Spencer</span><br>
                                        <span class="title">Curabitur commodo</span>
                                    </p>
                                    <img class="profile col-md-4" src="assets/images/testimonials/profile-1.png">
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <blockquote class="quote">
                                    <i class="fa fa-quote-left"></i>
                                    I'm very pleased commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                           
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-md-push-1">
                                        <span class="name">Marco Antonio</span><br>
                                        <span class="title">Gravida ultrices</span>
                                    </p>
                                    <img class="profile col-md-4" src="assets/images/testimonials/profile-2.png">
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item active">
                                <blockquote class="quote">
                                    <i class="fa fa-quote-left"></i>
                                    I'm delighted commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                           
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-md-push-1">
                                        <span class="name">Kate White</span><br>
                                        <span class="title">Gravida ultrices</span>
                                    </p>
                                    <img class="profile col-md-4" src="assets/images/testimonials/profile-3.png">
                                </div>
                            </div>
                            <!--//item-->

                        </div>
                        <!--//carousel-inner-->
                        <div class="carousel-controls">
                            <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div>
                        <!--//carousel-controls-->
                    </div>
                    <!--//testimonials-carousel-->
                </section>
                <!--//widget-->
            </aside>
        </div>
        <!--//page-row-->
    </div>
    <!--//page-content-->
</div><!--//page-->