<ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
</ul>